*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* font-size: 10px; */
    font-size: $font-size;  // 1 rem = 10px | 62.5%
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
}
